header{
    width: 100%;
    background-color: transparent;
    padding: 30px 0px;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1;

  .head{
      display: flex;
      justify-content: space-between;

      .navegacion{
          display: flex;

          align-items: center;


          nav{
              display: flex;

              li{
                  margin: 0px 30px;

                  a{
                    color: #fff;
                    font-size: 18px;
                  }
              }
          }
      }


      .carrito{

        i{
            font-size: 25px;
            cursor: pointer;
        }
      }

  }
}
