<header>
    <div class="head contenedor">
      <div class="logo">
        <p>Ferreteria</p>
        <span>Sión</span>
      </div>

        <div class="navegacion">
            <nav>
                <li><a routerLink="/">Inicio</a></li>
                <li><a routerLink="/about">Quienes somos</a></li>
                <li><a routerLink="/productos">Productos</a></li>
                <li><a href="">Contacto</a></li>
            </nav>

        </div>
        <div class="carrito">
          <i routerLink="/carrito" class="fa-sharp fa-solid fa-cart-shopping"></i>
        </div>
    </div>
</header>
