.hero{
    background-image: url('/src/assets/img/hero.jpg');
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .hero-contenido{
        text-align: center;
        color: #fff;
        position: relative;

        h2{
            font-size: 100px;
            text-transform: uppercase;
        }
        p{
            font-size: 20px;
        }
    }
}


.hero::before{
    content: '';
    position: absolute;
    background-color: rgba($color: #000000, $alpha: .6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
